.answer {
  display: flex;
  min-width: 500px;
  width: 80%;
  height: 100px;
  margin: 12px;
}

.answerContent {
  position: relative;
  display: flex;
  flex: 1;
}

.frontContent, .backContent {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.frontContent {
  align-items: center;
  color: #000;
  background-color: #FFF;
  padding: 15px;
  border-radius: 12px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 20px;
  color: #FFF;
}

.value {
  font-size: 1.25rem;
  font-weight: 700;
}