.answer {
  display: flex;
  min-width: 500px;
  width: 80%;
  height: 100px;
  margin: 12px;
  perspective: 1000px;
}

.answerContent {
  position: relative;
  display: flex;
  flex: 1;
  transition: transform 750ms;
  transform-style: preserve-3d;
}

.answerContent.hasShown {
  transform: rotateY(180deg);
}

.frontContent, .backContent {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.frontContent {
  align-items: center;
  color: #000;
  background-color: #FFF;
  padding: 15px;
  border-radius: 12px;
}

.backContent {
  transform: rotateY(180deg);
}

.backContent > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  border-radius: 12px;
}

.correct {
  background-color: #2BAA6D;
}

.wrong {
  background-color: #E44A4C;
}

.correct .value, .wrong .value {
  font-size: 1.75rem;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 20px;
  color: #FFF;
}

.value {
  font-size: 1.25rem;
  font-weight: 700;
}